[Unit]
Description=Check Neocortex durable backup requests every minute

[Timer]
OnBootSec=1min
OnUnitInactiveSec=60s
AccuracySec=15s
Persistent=true
Unit=neocortex-backup.service

[Install]
WantedBy=timers.target
